<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>


  <div id="app">
    <div>
      <input type="number" v-model.number="num1"/>
      <span>+</span>
      <input v-model.number="num2" type="number"/>
      <span>=</span>
      <span>{{ num1 + num2 }}</span>
    </div>
    <div>
      <select v-model='name'>
        <option>Food</option>
        <option>Water</option>
        <option>Cake</option>
        <option>Bacon</option>
      </select>
      <p v-if='name'>My favorite thing to ingest is {{ name }}</p>
    </div>
  </div>



  <script>

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>Buy {{ todo.text }}</li>'
      })

    var app = new Vue({
      el: '#app',
      data() {
        return {
          num1: 0,
          num2: 0,
          name: ''
        }
      },
      methods: {

      },
      computed: {
          reversedMessage: function(){
              return this.message.split('').reverse().join('')
          }
      }
    })

    
  </script>
</body>


</html>