#app {
    width: 100vw;
    height: 2000px;
}

.header {
    position: fixed;
    width: 100vw;
    height: 120px;
    background-color: blue;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.header_anim {
    animation: grow .5s forwards
}
.hamBar {
    position: fixed;
    width: 100vw;
    height: 120px;

    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    background-color: blue;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    animation: shrink 1s forwards;
}
.sideBar {
    width: 100px;
    height: 100vh;
    position: fixed;

    background-color: blue;
    animation: growBar 1s forwards
}
.sideBar_close {
    animation: shrinkBar .5s forwards
}
@keyframes shrink {
    from{
        width: 100vw;
        height: 120px
    }
    to{
        width: 100px;
        height: 100px
    }
}
@keyframes grow {
    from{
        width: 100px;
        height: 100px
    }
    to{
        width: 100vw;
        height: 120px
    }
}
@keyframes growBar {
    from{
        width: 100px;
        height: 100px;
        align-items: center flex-start
    }
    to{
        width: 100px;
        height: 100vh;
        justify-content: center;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        align-items: flex-start;
    }
}
@keyframes shrinkBar {
    from{
        width: 100px;
        height: 100vh;
        justify-content: center;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        align-items: flex-start;
    }
    to{
        width: 100px;
        height: 100px;
        align-items: center flex-start
    }
    
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamBarButton {
    height: 50px
}

.logo {
    height: 100px
}

.routes {
    width: 30%;
    display: flex;
    justify-content: space-around

}